.item-Card{
  // width: 300px;
  .item-Bg{
    position: relative;
    width: 100%;
    height: 315px;
    background-position: center center;
    background-size: cover;
    .item-Tag{
      position: absolute;
      top: 0;
      left: 14px;
      padding: 10px;
      color: #fff;
      background: $primary;
      writing-mode: vertical-lr;
    }
    .item-Like{
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
  .item-Body{
    width: 100%;
    height: 56px;
    color: $primary;
    text-align: center;
    display: flex;
    line-height: 56px;
    font-size: 1.25rem;
    .item-Name{
      // width: 173px;
      flex: 1;
      height: 100%;
      border: solid $primary-light;
      border-width: 0px 1px;
    }
    .item-Price{
      // width: 127px;
      flex: 1;
      height: 100%;
      color: $primary;
      border-right: 1px solid $primary-light;
      font-weight: bold;
    }
  }
  .item-Footer{
    width: 100%;
    height: 65px;
    font-size: 1.5rem;
    line-height: 65px;
    font-weight: bold;
    background-color: $primary-light;
    color: $primary;
    text-align: center;
    border: 1px solid $primary-light;
    cursor: pointer;
    transition: .5s;
    &:hover{
      background-color: darken($primary-light,15%);
    }
  }
}
@include media-breakpoint-down(md) {
  .item-Card {
    width: 100%;
  }
}

.custom-pagination{
  .page-item{
    line-height: 60px;
    .page-link{
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      padding: 0;
      border-radius: none;  
    }
  }
}
.custom-form {
  position: relative;
  .custom-form-icon{
    position: absolute;
    color: $primary;
    top: 16px;
    left: 20px;
    &.card-icon {
      left: initial;
      top: 48px;
      right: 20px;
    }
  }
  .custom-form-input{
    background: $primary-light;
    height: 56px;
    border: none;
    width: 100%;
    margin-bottom: 1rem;
    &::placeholder {
      color: #8DA291;
    }
  }
  .custom-form-select {
    appearance: none;
    border: none;
    color: #8DA291;
    width: 100%;
    height: 56px;
    margin-bottom: 1rem;
    background: $primary-light;
  }
  .custom-form-select-icon {
    position: absolute;
    color: $primary;
    pointer-events: none;
    &.icon-1 {
      top: 44px;
      right: 20px;
    }
    &.icon-2 {
      bottom: 28px;
      right: 20px;
    }
  }
}

//checkout-success Step
section.hero {
  .big-Btn {
    width: 300px;
    height: 65px;
    font-size: 24px;
    padding-top: 15px;
  }
  .checkout-Step {
    width: 190px;
    &::after {
      background-color: $primary;
    }
    & .material-icons {
      color: $primary-light;
      font-size: 1rem;
    }
    .checkout-Step-Item {
      border: none;
    }
  }
}
.checkout-Step {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0;
    height: 1px;
    background-color: $primary-light;
    z-index: 0;
  }
  .checkout-Step-Item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: $primary-light;
    border-width: 1px;
    border-style:solid;
    background-color: $primary;
    z-index: 1;
    &.active {
      background-color: $primary-light;
      & .material-icons {
        color: $primary;
        font-size: 1rem;
      }
    }
  }
  .checkout-Step-Circle {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $primary-light;
  }
}